body {
    width: 80%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

#title-head {
    font-size: 11vw; 
    font-weight: 700;
    text-align: center;
}

#main-content{
    font-size: 0.8em;
}

.content-section{
    background-color: #eeeeee;
    padding: 1em;
    margin-bottom: 1em
}

p.content-text{
    text-align: justify;
    margin-left: 2em;
    margin-right: 2em;
}