body {
    width: 80%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

#title-head {
    font-size: 11vw; 
    font-weight: 700;
    text-align: center;
}

#main-content{
    font-size: 0.8em;
}

.content-section{
    background-color: #eeeeee;
    padding: 1em;
    margin-bottom: 1em
}

.content-section p{
    text-align: justify;
    margin-left: 2rem;
    margin-right: 2rem;
}

.content-section h1{
    font-size: 3em;
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.5em;
}

.content-section h2{
    font-size: 1.7em;
    font-weight: 400;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0;
}

#youtube-box{
    float: right;
    padding: 1rem;
    background-color: #dddddd;
}

.youtube.frame{

}